<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

	<extensions>
		<add assembly="NLog.Web" />
	</extensions>

	<variable name="RootDir" value="${basedir}/logs" />
	<variable name="Date" value="${date:format=yyyy-MM-dd}" />
	<variable name="Time" value="${date:format=HH\:mm\:ss.mmm}" />
	<variable name="DateTime" value="${Date} ${Time}" />
	<variable name="Method" value="${aspnet-request:serverVariable=HTTP_METHOD}" />
	<variable name="UrlPath" value="${aspnet-request:serverVariable=HTTP_HOST}" />
	<variable name="UrlQuery" value="${aspnet-request:serverVariable=HTTP_URL}" />
	<variable name="Url" value="${UrlPath}${UrlQuery}" />
	<variable name="ErrorLayout" value="${DateTime}${newline}
Message: ${message} ${newline}
Method: ${Method}${newline}
Url: ${Url}${newline}
${exception:format=tostring}${newline}" />

	<targets>
		<target name="error" xsi:type="AsyncWrapper">
			<target name="file" xsi:type="File" encoding="UTF-8"
					layout="${ErrorLayout}"
					fileName="${RootDir}//${Date}-error.log"/>
		</target>
	</targets>

	<rules>
		<logger name="*" level="Error" writeTo="error" />
	</rules>
</nlog>